.resume-container {
  background-color: rgb(17,17,17);
  color: #ffffff;
  padding: 2rem;

}

.resume-title {
  text-align: center;
  color: #ffd700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.resume-content {
  display: flex;
  flex-direction: column;
}

.resume-section {
  margin-bottom: 2rem;
}

.section-title {
  display: flex;
  /* align-items: start; */
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.icon-placeholder {
  display: flex;
  width: 60px;
  height: 60px;
  border: 1px solid #ffd700;
  border-radius: 50%;
  margin: 0 auto 1rem;
  padding: 1rem;
}

.resume-timeline {
  position: relative;
  padding-left: 20px;
}

.resume-timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #ffd700;
}

.resume-item {
  position: relative;
  margin-bottom: 2rem;
}

.resume-item-dot {
  position: absolute;
  left: -24px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffd700;
}

.resume-item-title {
  color: #ffd700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.resume-item-date {
  color: #cccccc;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.resume-item-org {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.resume-item-desc {
  color: #cccccc;
  font-size: 0.9rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .resume-content {
    flex-direction: row;
    padding: 3rem 15rem;
  }

  .resume-section {
    flex: 1;
    padding: 0 1rem;
  }
}
